/* import area */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500&display=swap');
/* css code start here... */
* {
    margin: none;
    padding: none;
    font-family: 'Noto Sans TC', sans-serif;
    font-family: 'Roboto', sans-serif;
}
*::selection{
	background-color:#A2FF9D ;
}
p::selection{
	color:#000;
}
body {
    background-color: #000;
    color: #fff;
    max-width: 100%;
    overflow-x: hidden;
    padding: 0px;
    margin: 0px;
    /* border: 1px solid #ff8e10; */
}
/* disable section and drag */
svg,img{
	user-select:none; /* standard syntax */
  -webkit-user-select:none; /* for Chrome、Safari */
  -moz-user-select:none; /* for Mozilla、Firefox */
}
.cup-wrap{
	user-select: none;
	-webkit-user-select:none;
	-moz-user-select: none;
}
*{
	-webkit-user-drag: none;
-khtml-user-drag: none;
-moz-user-drag: none;
-o-user-drag: none;
user-drag: none;
}
/* disble auto wide */
.content-section {
    max-width: 1200px !important;
    margin-left: auto;
    margin-right: auto;
}

@keyframes site {
    from {
        display: none;
    }

    to {
        display: block;
    }
}

nav{
	text-align: center;
/* height: 100px; */
	z-index:600;
	position: relative;
}

#logo {
    transition: 0.5s;
}

#logo:hover {
    height: 80px;
}

main {
    text-align: center;
    align-items: center;
    min-height: 100vh;
}

@keyframes in {
    from {
        margin-bottom: 30px;
        opacity: 0;
    }
}

.title {
    font-weight: lighter;
    font-size: 50px;
    animation: in 3s;
    text-shadow: black 0.1em 0.1em 0.4em;
	position: absolute;
	z-index: 600;
	 top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

@media only screen and (max-width: 800px) {

    .title {
        /* margin-top: 60px; */
        font-weight: lighter;
        font-size: 30px;
        animation: in 3s;
    }

    @keyframes trm {
        0% {
            font-size: 30px;
            font-weight: lighter;

        }

        30% {
            font-size: 30px;
            font-weight: lighter;

        }

        100% {
            font-size: 60px;
        }
    }

    .title>#num {
        color: #ff8e10;
        font-size: 80px;
        animation: trm 2.5s;
        font-weight: bold;
    }


}

@keyframes tr {
    0% {
        font-size: 50px;
        margin-top: 30px;
        font-weight: lighter;

    }

    30% {
        font-size: 50px;
        font-weight: lighter;
    }

    100% {
        font-size: 80px;
    }
}

.title>#num {
    color: #ff8e10;
    font-size: 80px;
    animation: tr 2.5s;
    font-weight: bold;
}

.learnmore {
    text-align: center;
}

.slider {

    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@keyframes opacity {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 0;
    }
}

@keyframes wavedown {
    to {
        bottom: -100vh;
    }
}

@keyframes position {
       0% {
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
		z-index: -10;
        bottom: none;
		
    }
    10% {
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
		z-index: -10;
        bottom: 20px;
		
    }

    20% {
        left: 30%;
        transform: translate(-30%, 0);
        bottom: 50px;

    }

    40% {
        left: 80%;
        transform: translate(-30%, 0);
              bottom: 50px;
    }

    60% {
        left: 10%;
        transform: translate(-30%, 0);
        bottom: 50px;

    }

    80% {
        left: 50%;
        transform: translate(-50%, 0);
        bottom: 130px;
        z-index: -10;
        bottom: 50px;

    }

    95% {
        left: 50%;
        transform: translate(-50%, 0);
        z-index: -10;
        bottom: 50px;
    }

    97% {
        left: 50%;
        transform: translate(-50%, 0);
        z-index: -10;
        bottom: 50px;
        animation-delay: 0.5s;
    }

    100% {
        left: 50%;
        transform: translate(-50%, 0);
        z-index: -10;
        bottom: -100vh;
        animation-delay: 0.5s;
    }
}

.homeimg {
    background-size: 100%;
    width: 550px;
    height: 500px;
    background-position: center 0px;
    background-image: url('./56.png');
    background-position: center 0px;
    margin-top: auto;
    margin-left: auto;
    animation: opacity 4s;
    position: fixed;
    animation: position 1s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
    z-index: 100;
    display: block;
}

.people {
    text-decoration: #ff8e10 wavy underline;
    font-weight: bold;
}

.container {
    margin: auto;
    width: auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container>div>h1 {
    font-weight: bold;
    color: #ff8e10;
}

.container-1 {
    justify-content: right;
    align-items: right;
}

.container-2 {
    justify-content: left;
    align-items: left;
}



.post-1 {
    text-align: right;
    max-width: 500px;
}

.post-2 {
    text-align: left;
    max-width: 500px;
}

.post-3 {
    text-align: center;
    max-width: 500px;
}

.final-post {
    text-align: center;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}
.post-1,.post-2,.post-3{padding: 20px;}
.cupimg {
    background-size: 100%;
    width: 850px;
    height: 850px;
    background-position: center 0px;
    background-image: url('./59.png');
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 300;
}

footer {
    text-align: center;
    padding: 10px;

}

.home-area {
    margin: auto;
    width: auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}


.title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* waves andamation start here!!! */
/* ----------------------------------------------------------------------- */
.waves {
    margin: 0px;
}

.inner-header {
    height: 200vh !important;
    width: 100%;
    margin: 0;
    padding: 0;
}

.flex {
    /*Flexbox for containers*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.waves {
    position: relative;
    width: 100%;
    height: 250px;
    margin-bottom: -10px;
    filter: grayscale(50%);
    /* filter: blur(0.2px); */
}

.content {
    position: relative;
    height: 20vh;
    text-align: center;
    background-color: white;
}

/* Animation */

.parallax>use {
    animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax>use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}

.parallax>use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}

.parallax>use:nth-child(3) {
    animation-delay: -4.4s;
    animation-duration: 13s;

}

.parallax>use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }

    100% {
        transform: translate3d(85px, 0, 0);
    }
}

/*Shrinking for mobile*/
@media (max-width: 768px) {
    .waves {
        height: 100px;
    }

    .content {
        height: 30vh;
    }

    h1 {
        font-size: 24px;
    }
}

/* scroll */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #000;
}

::-webkit-scrollbar-thumb {
    background: #444;
    border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
    background: #333;
}

/* smoke effect start here */

@keyframes smokeopacity{
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
img {
    max-width: 100%;
}

.smoke-wrap {
	transition: 1s;
	animation: smokeopacity 6s;
    position: absolute;
 top: 50%;
left: 50%;
transform: translate(-50%, -50%);
	z-index: 200;
bottom: -500px;
}

.smoke,
.smoke2,
.smoke3,
.smoke4,.smoke5{
    filter: blur(10kpx);
    transform-origin: 50% 50%;
}

.smoke {
    animation: smoke1 3s linear infinite;
    animation-delay: 5s;
}

.smoke2 {
    animation: smoke2 3s linear infinite;
    animation-delay: 1.5s;
}

.smoke3 {
    width: 500px;
    animation: smoke3 4s linear infinite;
    animation-delay: 2.5s;
}
.smoke4 {
    width: 800px;
    animation: smoke3 4s linear infinite;
    animation-delay: 1s;
}
.smoke5 {
    width: 500px;
	height: 800px;
    animation: smoke3 7s linear infinite;
    animation-delay: 2.5s;
}

@keyframes smoke1 {
    0% {
        filter: blur(5px);
        transform: translateY(0px) scale(-1, 1);
        opacity: 0.5;
    }

    25% {
        filter: blur(1px);
        transform: translateY(-10px) scale(-1, 1.05);
        opacity: 1;
    }

    50% {
        filter: blur(10px);
        transform: translateY(-20px) scale(-1, 1.1);
        opacity: 1;
    }

    75% {
        filter: blur(1px);
        transform: translateY(-30px) scale(-1, 1.15);
        opacity: 0.6;
    }

    100% {
        filter: blur(5px);
        transform: translateY(0px) scale(-1, 1);
        opacity: 0.5;
    }
}

@keyframes smoke2 {
    0% {
        filter: blur(3px);
        transform: translateY(0px) scale(1);
        opacity: 1;
    }

    25% {
        filter: blur(3px);
        transform: translateY(-10px) scale(1.05);
        opacity: 0.5;
    }

    50% {
        filter: blur(2px);
        transform: translateY(-20px) scale(1.1);
        opacity: 1;
    }

    75% {
        filter: blur(5px);
        transform: translateY(-30px) scale(1.15);
        opacity: 0.5;
    }

    100% {
        filter: blur(3px);
        transform: translateY(0px) scale(1);
        opacity: 1;
    }
}

@keyframes smoke3 {
     0% {
        filter: blur(5px);
        transform: translateY(0px) scale(1);
        opacity: 1;
    }

    25% {
        filter: blur(8px);
        transform: translateY(-10px) scale(1.05);
        opacity: 0.5;
    }

    50% {
        filter: blur(10px);
        transform: translateY(-20px) scale(1.1);
        opacity: 1;
    }

    75% {
        filter: blur(10px);
        transform: translateY(-30px) scale(1.15);
        opacity: 0.5;
    }

    100% {
        filter: blur(5px);
        transform: translateY(0px) scale(1);
        opacity: 1;
    }
}

/* ------------------------------------------- */
/* .fish{
position: fixed;
    bottom: 0;
    width: 100%;
} */

svg#fish {
  bottom: 5px;
}
/* Fish Animation */
svg.fish{
  overflow:visible;
}

@-webkit-keyframes swim
{
	0% {margin-left: -235px}
	90% {margin-left: 100%;}
	100% {margin-left: 100%;}
}

@keyframes swim
{
	0% {margin-left: -235px}
	70% {margin-left: 100%;}
	100% {margin-left: 100%;}
}

.fish{
	transition:1s;
	margin-left: -235px;
	position: fixed;
    bottom: -60px!important;
	z-index:200;
	animation: swim 20s;
	-webkit-animation: swim 20s;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	animation-timing-function: linear;
	-webkit-animation-timing-function: linear;
}

svg #fish1,
svg #fish2,
svg #fish3,
svg #fish4,
svg #fish5,
svg #fish6 {
  
    -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

/*  */

/**/
@-moz-keyframes bounce {
  0%, 50%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  25% {
    -moz-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  75% {
    -moz-transform: translateY(-3px);
    transform: translateY(-3px);
  }
}
@-webkit-keyframes bounce {
  0%, 50%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  75% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
}
@keyframes bounce {
  0%, 50%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  25% {
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  75% {
    -moz-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
}
/* end of css file */